api/node_modules/

api/.env

bankautomat/build/

bankautomat/*.user

bankautomat/pincode/DLLPinCode/*.user

bankautomat/pincode/DLLPinCode/build/

bankautomat/DLLSerialPort/*.user

bankautomat/DLLSerialPort/build/