api/node_modules/

api/.env

bankautomat/build/

bankautomat/*.user

bankautomat/DLLSerialPort/*.user

bankautomat/DLLSerialPort/build

bankautomat/DLLPinCode

bankautomat/DLLRestAPI

bankautomat/debug

bankautomat/db



