api/node_modules/

api/.env

bankautomat/build/

bankautomat/*.user

bankautomat/Pincode/DLLPinCode/*.user

bankautomat/Pincode/DLLPinCode/build/

bankautomat/DLLSerialPort/*.user

bankautomat/DLLSerialPort/build/